<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="asi.val"
      android:installLocation="auto" android:versionName="1.4.2" android:versionCode="41">
    <application android:label="@string/app_name" android:icon="@drawable/asi" android:theme="@android:style/Theme.Light">
        <activity android:name=".main"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".MainView" android:screenOrientation="portrait"></activity>
<activity android:name=".Page"></activity>
<activity android:name=".DownloadView"></activity>
<activity android:name=".ArticlesList" android:screenOrientation="portrait"></activity>

<activity android:name=".VideoView2" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

<activity android:name=".AsiActivity"></activity>
<activity android:name=".VideoViewSD"></activity>
<activity android:name=".ArticlesListSearch"></activity>
<receiver android:label="@string/widget_name" android:name=".widget_receiver" android:icon="@drawable/asi">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    <action android:name="asi.val.action.SHOW_CURRENT"></action>
<action android:name="asi.val.action.SHOW_NEXT"></action>

<action android:name="asi.val.action.CHECK_CURRENT"></action>
<action android:name="asi.val.action.UPDATE_WIDGET"></action>
</intent-filter>
    <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_asi_xml" />
</receiver>
<activity android:name=".Configuration">
</activity>
<activity android:name=".PageImage"></activity>
<provider android:authorities="asi.val.provider.articleprovider" android:name=".provider.ArticleProvider"></provider>
</application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"></uses-sdk>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


</manifest> 